.user-action {
	background-color: $color-brand;
	height: 100vh;
	width: 100%;

	h2 {
		color: $color-white;
		text-align: center;
		margin: 0 0 25px 0;
		font-size: 24px;
	}

	.logo {
		text-align: center;

		img {
			background-color: $color-white;
			padding: 15px;

			@include border-radius( 50% );
		}
	}

	.user-action-wrapper {
		max-width: 100%;
		width: 420px;
	}

	.user-action-panel {
		background-color: $color-white;
		padding: 60px 30px 30px 30px;
		margin: -61px 0 0 0;
	}

	.form-check-input {
		margin-left: 0;
	}

	.forget-password {
		margin: 15px 0 0 0;
	}
}

@media ( min-width: 576px ) {

}

@media ( min-width: 768px ) {

}

@media ( min-width: 992px ) {

}

@media ( min-width: 1200px ) {

}