$color-brand: #1958a4;
$color-white: #ffffff;
$color-black: #000000;
$color-green: #00ab66;
$color-gray: #f9f9f9;

$color-text: #333333;

$color-facebook: #3b5998;
$color-twitter: #00aced;
$color-instagram: #517fa4;
$color-google-plus: #dd4b39;
$color-linkedin: #007bb6;
$color-youtube: #bb0000;
$color-pinterest: #cb2027;

$color-highlight: #f5f5f5;

$font-family-sans-serif: 'Hanuman', serif;;
$font-family-serif: 'Hanuman', serif;;

$link-hover-decoration: none;

$headings-font-weight: 700;

$input-border-radius: 0;
$btn-border-radius-base: 0;