/**
 *	PROJECT			:		LDP
 *	DEVELOPER		:		LDP
 *	DEVELOPER URI	:		http://camldp.org/
 *	DATE			:		06-June-2019
 */

@import "variables";
@import "bootstrap/bootstrap";
@import "compass/css3";
@import "user-action";

html,
body {
	
	/* Prevent horizontal scrolling bar appears when pinterest extension is installed */

	max-width: 100%;
	overflow-x: hidden;
}

.mobile-only {
	display: block;
}

.desktop-only {
	display: none;
}

.form-control {
	padding: 10px 15px;
}

.btn {
	cursor: pointer;
	padding: 10px 15px;

	@include border-radius( 0 );
}

.btn-primary {
	background-color: $color-brand;
	border: 1px solid $color-brand;

	&:hover,
	&:focus,
	&:active {
		background-color: darken( $color-brand, 10% );
		border: 1px solid $color-brand;
	}
}

.section-wrapper {
	padding-bottom: 30px;
	padding-top: 30px;
}

.section-highlight {
	background-color: $color-highlight;
}

.go-to {
	background-color: $color-highlight;
	padding-bottom: 25px;
	padding-top: 25px;
	margin: 0 0 20px 0;

	h2 {
		color: #4a4a4a;
		font-size: 24px;
		font-weight: 600;
		margin: 0 0 17px 0;
	}

	ul {
		list-style: none;
		padding: 0;
		margin: 0;

		li {
			display: inline-block;
			margin: 0 8px;
		}

		a {
			background-color: $color-white;
			border: 1px solid rgba( 0, 0, 0, 0.3 );
			color: #111111;
			display: block;
			padding: 13px 32px;
			font-size: 18px;
			font-weight: 600;

			@include border-radius( 8px );

			&:hover,
			&:focus,
			&:active,
			&.active {
				background-color: $color-brand;
				border: 1px solid $color-brand;
				color: $color-white;
			}
		}
	}
}

.download-app {
	padding: 0 0 20px 0;

	.download-app-banner {
		color: $color-white;
		padding: 15px 25px 180px 25px;
		text-align: center;
		position: relative;

		@include border-radius( 13px );

		h2 {
			font-size: 33px;
		}

		h3 {
			font-size: 16px;
			text-transform: uppercase;
		}

		p {
			font-size: 14px;
			font-weight: 700;
		}

		.store {
			list-style: none;
			padding: 0;
			margin: 0;

			li {
				display: inline-block;
				margin: 0 16px 0 0;

				&:last-child {
					margin: 0;
				}
			}
		}

		.download-app-content {
			position: relative;
			z-index: 2;
		}

		.download-app-bg {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			z-index: 1;
		}
	}
}

.introduction {
	h2 {
		margin: 0 0 20px 0;
	}

	.logo {
		margin: 0 0 20px 0;
	}

	.introduction-wrapper {
		text-align: center;
	}
}

.screen {
	.screen-content,
	.screen-thumbnail {
		text-align: center;
	}

	.screen-content {
		padding: 94px 0 15px 0;
		position: relative;

		h2 {
			color: #111111;
			font-size: 36px;
		}

		.number {
			color: rgba( 0, 0, 0, 0.03 );
			font-size: 200px;
			font-weight: 900;
			position: absolute;
			top: 0;
			line-height: 148px;
			left: 0;
			right: 0;
		}
	}

	.screen-thumbnail {
		img {
			margin: 0 auto;
		}
	}
}

@media ( min-width: 576px ) {

}

@media ( min-width: 768px ) {
	.section-wrapper {
		padding-bottom: 60px;
		padding-top: 60px;
	}

	.go-to {
		margin: 0 0 27px 0;

		h2 {
			margin: 0 0 0 0;
		}
	}

	.download-app {
		padding: 0 0 43px 0;

		.download-app-banner {
			text-align: left;
			padding: 54px 40px 25px 40px;

			h2 {
				font-size: 46px;
				margin: 0 0 52px 0;
			}

			h3 {
				font-size: 24px;
				font-weight: 600;
			}

			p {
				font-size: 18px;
				font-weight: 600;
			}

			.download-app-bg {
				display: none;
			}
		}
	}

	.introduction {
		.introduction-wrapper {
			margin: 0 auto;
			text-align: center;
			position: relative;
			width: 50%;

			&:before {
				content: '';
				background-image: url( '../images/point-to.png' );
				background-size: 132px 194px;
				position: absolute;
				top: -25px;
				left: -142px;
				height: 194px;
				width: 132px;
			}
		}
	}
}

@media ( min-width: 992px ) {
	.mobile-only {
		display: none;
	}

	.desktop-only {
		display: block;
	}

	.screen {
		padding-left: 90px;
		padding-right: 90px;

		.screen-content,
		.screen-thumbnail {
			width: 50%;
		}

		.screen-content {
			padding-top: 168px;
			margin-top: 50px;
			text-align: left;

			h2 {
				font-size: 46px;
			}

			.number {
				font-size: 300px;
				line-height: 212px;
			}
		}
	}

	.screen-left {
		.screen-content {
			padding-left: 80px;

			.number {
				right: 0;
				left: auto;
			}
		}
	}

	.screen-right {
		.screen-content {
			padding-right: 40px;
			margin-left: 40px;

			.number {
				right: auto;
				left: 0;
			}
		}
	}
}

@media ( min-width: 1200px ) {

}